img.Image {
    max-width: 512px;
    max-height: 512px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#ImageContainer {
    max-width: 512px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.CorrectLabel {
    background-color: white;
}

.WrongLabel {
    background-color: lightgray;
}

.Label {
    max-width: 600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.Label button {
    width: 100%;
}

h1, h3 {
    text-align: center;
}

.RadioArea {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 20px; 
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}
